@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Karla:ital,wght@0,200;0,400;1,200&display=swap");
:root {
  --base-space: 20px;
}
.App {
  font-family: "Karla", sans-serif;
}

.black-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: var(--base-space);
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

.readContent {
  margin: var(--base-space);
  padding-bottom: var(--base-space);
  width: 15%;
  border-bottom: 2px solid black;
}

.point {
  cursor: pointer;
}

.modal {
  background-color: #eee;
  margin-top: var(--base-space);
  padding: var(--base-space);
}
