@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Karla:ital,wght@0,200;0,400;1,200&display=swap");
:root {
  --base-space: 20px;
}
.App {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.black-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: var(--base-space);
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.list > span {
  cursor: pointer;
}

.title {
  padding: var(--base-space);
  display: flex;
  flex-direction: column;
}
.title__text {
  font-weight: 600;
  font-size: 30px;
}
.modal {
  margin-top: var(--base-space);
  padding: var(--base-space);
  background-color: #eee;
}
